<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'index.html'%}
    {% block content %}
    <h1>{{projectObj.title}}</h1>
    <p>{{projectObj.description}}</p>
    <hr>

    <h2>Project Fiber:</h2>

 
        <table>

            <tr style="border:1px solid black">

                <th style="border:1px solid black">Fiber Name</th>
                <th style="border:1px solid black">Fiber Count</th>
                <th style="border:1px solid black">Fiber Update</th>
                <th style="border:1px solid black">Fiber Delete</th>

            </tr>


            {% for fiber in fib_query %}

                <tr style="border:1px solid black">

                    <th style="border:1px solid black">{{fiber.fib_title}}</th>
                    <th style="border:1px solid black">{{fiber.fib_select}}</th>
                    <th style="border:1px solid black"><a href="{% url 'update-fiber' fiber.id %}">Edit </a></th>
                    <th style="border:1px solid black"><a href="{% url 'delete-fiber' fiber.id %}">Delete </a></th>
                        
                </tr>

            {% endfor %}

        </table>

        <a href="{% url 'create-fiber' projectObj.id %}">Create fiber</a>

        <h2> Sequentials: </h2>

    
    <table>

        <tr>
           
            <th>

            <table>


                <tr style="border:1px solid black">

                    <th style="border:1px solid black">Fiber Relationship</th>
                    <th style="border:1px solid black">In</th>
                    <th style="border:1px solid black">Out</th>

                </tr>

                {% for seq in seq_query %}

                    <tr style="border:1px solid black">

                        <th style="border:1px solid black">{{seq.fiber_relationship}}</th>
                        <th style="border:1px solid black">{{seq.in_seq}}</th>
                        <th style="border:1px solid black">{{seq.out_seq}}</th>          

                    </tr>

                {% endfor %}
            

            </table>

        </th>

        <th>

            <table>

                <tr style="border:1px solid black">

                    <th style="border:1px solid black">Slack Length</th>

                </tr>

                {%for slack_data in slack %}

                    <tr style="border:1px solid black">

                        <th style="border:1px solid black">{{slack_data}}</th>

                    </tr>

                {% endfor %}

            </table>

        </th>

        <th>

            <table>

                <tr style="border:1px solid black">

                    <th style="border:1px solid black">Wall to Wall Distance</th>

                </tr>


                {%for w2w_data in w2w %}

                    <tr style="border:1px solid black">

                        <th style="border:1px solid black">{{w2w_data}}</th>

                    </tr>

                {% endfor %}
                
            </table>

        </th>

        <th>

            <table>

                <tr style="border:1px solid black">

                    <th style="border:1px solid black">Update Seqentials</th>
                    <th style="border:1px solid black">Delete Seqentials</th>

                </tr>

                
                {% for seq in seq_query %}

                    <tr style="border:1px solid black">

                        <th style="border:1px solid black"><a href="{% url 'update-seq'  seq.id %}">Edit</a></th>
                        <th style="border:1px solid black"><a href="{% url 'delete-seq'  seq.id %}">Delete</a></th>

                    </tr>

                {% endfor %}
                
            </table>

        </th>
    
        </tr>
    
    </table>

    <hr/>


    <a href="{% url 'seq-redirect' projectObj.id %}">Create seqentials</a>

    <hr/>

    {% for measured_length in measured_list %}

        <p>{{measured_length}}</p>
    
    {% endfor %}
    
    {% endblock content %}

</body>
</html>