.background,html, body {
    background-image: radial-gradient(rgba(19, 19, 189, 0.932), rgba(0, 217, 255, 0.849));
    margin: 0;
    height: 100%;
}

/** div containers **/

.projects_container_parent {

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250, 0.75);
    box-shadow: 5px 5px 5px grey;
    width: 75%;
    border:1px solid black;
    padding: 25px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    text-align: center;
    height: auto;
    flex-direction: column;

  }

.form_container_parent {

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 250, 250, 0.4);
  box-shadow: 5px 5px 5px grey;
  width: 75%;
  border:1px solid black;
  padding: 25px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  height: auto;
  flex-direction: column;

}


.projects_child {

  text-align: left;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  font-family: sans-serif;

 }

 .form_child_text {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: sans-serif;

 }

 
 .form_child_number {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: sans-serif;

 }


 .form_child_textbox {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 10em; 
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: sans-serif;
  font: size 50px;

 }

 .form_dimensions {

  width: 75%; 

 }

 .pagination {

  display: inline; 
  text-align: center; 
  float: left;
  margin-left: 7px;

 }

 .table_container {

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(250, 250, 250, 0.75);
  box-shadow: 5px 5px 5px grey;
  border:1px solid black;
  padding: 25px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  height: auto;
  flex-direction: column;
  width: 60%;
  font-family: sans-serif;


 }

 .table_child {

  width: 35em;
  margin-top: 20px;
  margin-bottom: 20px;

 }

 .login_parent {

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 250, 250, 0.25);
  box-shadow: 5px 5px 5px grey;
  width: 75%;
  border:1px solid black;
  padding: 25px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  text-align: center;
  height: auto;
  flex-direction: column;

 }

 .login_child {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: sans-serif;
  margin-top: 3em;
  margin-bottom: 3em;

 }

 .title_parent {

  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px; 

 }

 .landing_image {
   
  width: 100%;
  height: 100%;
  background-image: url("https://devseq.s3.us-west-1.amazonaws.com/fiber_background.jpg");
  background-size: 100% 100%;
  z-index: 0;

 }


.landing_div{

  min-height: 100vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.landing_text {

  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;

}


/** Header and footer **/

.page-container {

  position: relative;
  min-height: 100vh;

}

.content-wrap {
  padding-bottom: 2.5rem;  
}


.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(6, 0, 85);
  color: white;
  text-align: center;
  margin-top: 2em;

}


 /** Buttons **/

 .edit_link {

  color: rgb(255, 115, 0);
  font-weight: bold;
  margin: 5px;

 }

.edit_link:hover {

  color: rgb(223, 173, 7);
  font-weight: bold;

}

.delete_link {

  color: rgb(175, 1, 1);
  font-weight: bold;
  margin: 5px;

 }

.delete_link:hover {

  color: rgb(248, 89, 89);
  font-weight: bold;

}


.delete_button {
  background-color: #f70606;
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 24px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(7, 7, 7);
  font-family: sans-serif;
  margin: 5px;

}

.delete_button:hover {
  background-color: #f87070;
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 24px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(7, 7, 7);
  font-family: sans-serif;
  margin: 5px;

}

.submit_button {

  background-color: #151616;
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 24px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(7, 7, 7);
  font-family: sans-serif;
  margin: 5px;

}

.submit_button:hover {

  background-color: rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 24px;
  border: 2px solid rgb(7, 7, 7);
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: sans-serif;
  margin: 5px;

}

.link_button {

  background-color: #0032bb;
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 24px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(7, 7, 7);
  font-family: sans-serif;
  font-weight: bold;


}

.link_button:hover {

  background-color: rgb(0, 170, 248);
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 24px;
  border: 2px solid rgb(7, 7, 7);
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;


}


