<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'index.html'%}

    {% block content %}

    <h1> Welcome to projects.html!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, beatae suscipit 
        adipisci ullam ducimus culpa impedit ex quaerat asperiores doloremque doloribus nisi 
        vero facilis nesciunt harum! Odit mollitia quam commodi?</p>

    <hr>

    <table style="border:1px solid black">

        <tr style="border:1px solid black">
            
            <th style="border:1px solid black">Project</th>
            <th style="border:1px solid black">Description</th>
            <th style="border:1px solid black">Create time</th>
            <th style="border:1px solid black">Link to project</th>
            <th style="border:1px solid black">Edit</th>
            <th style="border:1px solid black">Delete</th>

        </tr>

        {% for project in names %}

            <tr style="border:1px solid black">

                <th style="border:1px solid black">{{project.title}}</th>
                <th style="border:1px solid black">{{project.description}}</th>
                <th style="border:1px solid black">{{project.created_time}}</th>
                <th style="border:1px solid black"><a href="{% url 'project' project.id %}">View {{project.title}}</a></th>
                <th style="border:1px solid black"><a href="{% url 'update-project' project.id %}">Edit </a></th>
                <th style="border:1px solid black"><a href="{% url 'delete-project' project.id %}">Delete </a></th>
                    
            </tr>

        {% endfor %}

    </table>

    {% endblock content %}

</body>
</html>